extends logged-layout.jade

block main
  div(ng-app="addTestApp")
    #newTest(ng-controller="addTestCtrl")
      h4 {{test.name ? '' : 'ახალი' }} ტესტი {{test.name ? '"' + test.name + '"' : ''}}
      .form-horizontal
        .form-group
          label.col-sm-3.control-label(for="testSubject") საგანი
          .col-sm-9
            input.form-control#testSubject(type="text", placeholder="საგანი", ng-model="test.name")
        .testCases
          .testCase.form-inline(ng-repeat="case in list")
            .form-group.col-sm-8.question
              label.col-sm-4.control-label შეკითხვა \#{{$index + 1}}:
              .col-sm-8
                input.form-control(ng-model="case.question", placeholder="შეკითხვა")
            .form-group.col-sm-4.rightAnswer
              label.col-sm-6.control-label შეფასება:
              .col-sm-6
                input.form-control(ng-model="case.rightAnswer")
            .clear

            .answers
              a.addAnswer(href="#", ng-click="case.answers.push({ text : '', correct : false })") დაამატე სავარაუდო პასუხი
              .row(ng-repeat="answer in case.answers")
                .input-group(ng-class="answer.correct ? 'has-success' : ''")
                  span.input-group-addon
                    input(type="checkbox", ng-model="answer.correct")
                  input.form-control(type="text", ng-model="answer.text", placeholder="სავარაუდო პასუხი")
        .form-group
          | სულ ტესტი {{list.length | number}}, სულ ქულა {{test.maxScore | number}}
          a.addTest(href="#",ng-click="addTest()") + დაამატეთ ტესტი

  .test-list
    a.btn.btn-default#addTest(href="#") დაამატეთ ტესტი
    h3 თქვენი ტესტები
    table.table.table-striped.table-hover.table-condensed
      thead
        tr
          th #
          th საგანი
          th კითხვების რაოდენობა
          th მაქსიმალური ქულა
          th დამატების თარიღი
      tbody
        each test, index in tests
          tr
            td #{index + 1}
            td #{test.subject}
            td #{test.questions.length}
            td #{test.maxScore}
            td #{test.createdAt}

block scripts
  script(src="/vendor/angular/angular.min.js",type="text/javascript")
  script(src="/js/admin-test.js", type="text/javascript")
