extends partials/layout.jade

block content
  - if (!test)
    blockquote
      p
       | Test Not found
  - else
    .container-fluid
      form.form-horizontal.row.col-md-10.col-md-offset-1#testForm(method="POST")
        input(type="hidden", name="testId", value="#{test._id}")
        h4 ტესტი - <b>#{test.subject}</b>
        h5 მაქსიმალური ქულა - #{test.maxScore}, კითხვების რაოდენობა - #{test.questions.length}

        br
        each question, index in test.questions
          input(type="hidden", name="answer[#{index}]", value="")
          .row.question.col-sm-offset-1.col-sm-10
            .col-sm-1
              | #{index + 1}.
            .col-sm-10
              | #{question.question}
            .col-sm-1.rightAnswer
              | #{question.rightAnswer}
          .row.answers.col-sm-10(style="margin: 0px auto 0px auto;float:none;")
            each answer, answerIndex in question.answers
              .row
                label
                  input(type="checkbox", name="answer[#{index}][#{answerIndex}]")
                  | #{answer.text}

         .alert.col-sm-10.col-sm-offset-1.hide
           .alert-text
         .row.col-sm-10.col-sm-offset-1.send
           input(type="text", name="ID", placeholder="პირადი ნომერი")
           input(type="text", name="firstname", placeholder="სახელი")
           input(type="text", name="lastname", placeholder="გვარი")
           button.btn.button-default მონაცემების გაგზავნა
      .row.col-md-3

block scripts
  script(src="/js/test.js", type="text/javascript")
